:root {
    --text-color: #1a1c20;
--background-color: #eeeff1;
--link-color: #1a1c20;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Alegreya';
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
} 

/* NAVBAR */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px; 
        height: 80px;
    }

    nav .left a{
        font-size: 36px;
    }

    nav .right a{
        font-size: 25px;
        margin: 0 3px;
    }

    /* SOUND DESIGN SECTION */
    main{
        font-family: Alegreya;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px; 
        height: 80px;
        font-size: 8px;
        font-weight: 400;
    }